<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>My Favourite Bangla Blogs</title>

  <% # include require stylesheets %>
  <%= stylesheet_link_tag "main" %>

  <% # include required javascript files %>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
</head>