table.list {
  border: 0pt;
  margin: 0pt;
  width:90%;
  border-top:1px solid #e5eff8;
  border-right:1px solid #e5eff8;
  margin:1em auto;
  border-collapse:collapse;
  /*width: 100%*/
}

table.list caption {
  caption-side:top;
  color:#9BA9B4;
  font-size:0.94em;
  letter-spacing:0.1em;
  margin:1em 0pt 0pt;
  padding:0pt;
  text-align:center;
}

table.list th {
  background:#f4f9fe;
  text-align:center;
  font:bold 1em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
  color:#66a3d3;
  border:1px solid #e5eff8;
  white-space:nowrap;
  overflow: hidden;
}

table.list td {
  white-space: nowrap;
  color:#678197;
  border-bottom:1px solid #d5dfe8;
  border-left:1px solid #e5eff8;
  padding:.3em 1em;
  /*text-align:center;*/
}


table.list .unread {
  color: #000000;
  background: #FFFFFF none repeat scroll 0%
}

table.list .read {
  color: #000000;
  background: #E8EEF7 none repeat scroll 0%
}

.recommendations {

}
.recommendations .item {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 2px;

}

table.recommendation {
  border: 0pt;
  margin: 0pt;
  width:90%;
  margin-left: 20pt;

}
table.recommendation td {
  white-space: nowrap;
  padding:.1em 1em;

}