<% form_for :user, :url => edit_user_url do |f| -%>
  <p>
    <%= f.check_box :email_notification %>
    <%= label_tag 'Receive email notification' %>
  </p>
    
  <p><%= submit_tag 'Update' %></p>
<% end -%>
